{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} {{lessons.name}} {% endblock %}
{% block image_block %}
<header class="info-header">
  <div id="page-intro" class="container-fluid d-flex align-items-center justify-content-center ">
    <div class="row d-flex justify-content-center text-center">
      <div class="col-md-10 text-white">
        <!-- heading -->
        <h2 class="display-4 font-weight-bold  p-5 " style="color:#ff5722;" >Bài {{lessons.position}}: {{lessons.name}}</h2>
        <div class="row d-flex justify-content-center text-center">
          <ul class="breadcrumb">
            <li><a href="{% url 'index' %}">Trang chủ</a></li>
            <li><a href="{% url 'curriculum:standard_list' %}">Khóa học</a></li>
            <li><a href="{% url 'curriculum:subject_list' slug=lessons.Standard.slug %}">{{lessons.Standard.name}}</a></li>
            <li><a href="{% url 'curriculum:lesson_list' standard=lessons.Standard.slug slug=lessons.subject.slug %}">{{lessons.subject.name}}</a></li>
            <li class="disabled-text" >{{lessons.name}}</li>
          </ul>
        </div>
        <!-- divider -->
        <hr style="color:#ff5722;">
        <!-- description -->
        <h4 class="white-text my-4"></h4>
  </div>
</header>
{% endblock %}
{% block content %}
<section class="text-center">
    <h2 class="mb-0 mt-5 font-weight-bold" style="color:#ff5722;">Chi tiết bài học </h2>
    <div class="row d-flex justify-content-center mb-3">
      <blockquote class="blockquote mt-0">
        <footer class="blockquote-footer">Tạo vào {{lessons.created_at}} bởi <cite title="Source Title">{{lessons.created_by}}</cite></footer>
        </blockquote>
    </div>
    <!-- video -->
    <div class="row d-flex justify-content-center mb-3">
      <div id="player-overlay">
            <video controls>
                <source src="{{lessons.video.url}}"  type="video/mp4">
              </video>
      </div>
    </div>
    <!-- download cards -->
    <div class="row d-flex justify-content-center mb-3 mt-3">
      <!-- download presentations -->
                <div class="col-md-4 mb-4 mt-4">
                  <div class="card box-shadow-hover">
                    <div class="card-body">
                      <h5 class="card-title">Tải bài giảng</h5>
                      {% if lessons.ppt %}
                      <p class="card-text">Tải bài giảng từ bài học</p>
                      <a href="{{lessons.ppt.url}}" download>
                      <button type="button" class="button-les"><span>Tải tệp</span></button>
                      </a>
                      {% else %}
                      <p class="card-text" >Không có bài giảng</p>
                      {% endif %}
                    </div>
                  </div>
                </div>
      <!-- download notes -->
                <div class="col-md-4 mb-4 mt-4">
                  <div class="card box-shadow-hover">
                    <div class="card-body">
                      <h5 class="card-title">Tải ghi chú</h5>
                      {% if lessons.Notes %}
                      <p class="card-text">Tải ghi chú từ bài học</p>
                      <a href="{{lessons.Notes.url}}" download>
                      <button type="button" class="button-les"><span>Tải tệp</span></button>
                      </a>
                      {% else %}
                      <p class="card-text">Không có ghi chú</p>
                      {%endif%}
                    </div>
                  </div>
                </div>
      <!-- download video -->
                <div class="col-md-4 mb-4 mt-4">
                  <div class="card box-shadow-hover">
                    <div class="card-body">
                      <h5 class="card-title">Tải video</h5>
                      <p class="card-text">Tải video từ bài học</p>
                      <a href="{{lessons.video.url}}" download>
                      <button type="button" class="button-les"><span>Tải tệp</span></button>
                      </a>
                    </div>
                  </div>
                </div>
    </div>
    <!-- nút cập nhật và xóa -->
    <div class="row d-flex justify-content-center mb-3 mt-3">
        {% if request.user == lessons.created_by %}
        <div class="col-md-6 mb-3 text-center">
            <a href="{% url 'curriculum:lesson_update' standard=lessons.Standard.slug subject=lessons.subject.slug slug=lessons.slug %}" class="btn btn-warning btn-lg mr-4 btn-block">Sửa bài học</a>
        </div>
        <div class="col-md-6">
            <a href="{% url 'curriculum:lesson_delete' standard=lessons.Standard.slug subject=lessons.subject.slug slug=lessons.slug %}" class="btn btn-danger btn-lg mr-4 btn-block"> Xóa bài học </a>
        </div>
        {% endif %}
      </div>
</section>
<hr class="my-5" style="color:#ff5722;">
<!-- Phần bình luận -->
<section >
    <h2 class="mb-4 mt-5 font-weight-bold" style="color:#ff5722;">Câu hỏi và thắc mắc</h2>
    <h4 class="mt-2 font-weight-bold" style="color:#ff5722;">Đăng bình luận hoặc câu hỏi của bạn dưới đây:</h4>
    <br><br>
    <div class="container row">
      <div class="col-md-6">
                              <form method="post">
                                    <div class="form-group">
                                    {% csrf_token %}
                                    {{form|crispy}}
                                    <input type="submit" name="form" value="Thêm bình luận" class="btn btn-primary btn-sm">
                                    </div>
                              </form>
      </div>
    </div>
    <div class="row">
      {% for comment in lessons.comments.all %}
      <div class="col-md-8 mt-2 mb-2">
                      <div class="media border p-3">
                          <img src="{% static 'Images/user_avatar.png' %}" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                          <div class="media-body">
                                    <h4>{{comment.author}} <small><i>Đăng vào {{comment.date_added}}</i></small></h4>
                                    <p>{{comment.body}}</p>
                            {% for reply in comment.replies.all %}
                                        <div class="media p-3">
                                                <img src="{% static 'Images/user_avatar.png' %}" alt="Jane Doe" class="mr-3 mt-3 rounded-circle" style="width:45px;">
                                        <div class="media-body">
                                                <h5>{{reply.author}} <small><i>Đăng vào {{reply.date_added}}</i></small></h5>
                                                <p>{{reply.reply_body}}</p>
                                          </div>
                                        </div>
                            {% endfor %}
                            <!-- form để trả lời -->
                            <form method="post">
                                  <input type="hidden" name="comment.id" value="{{comment.id}}">
                                  <input type="hidden" name="comment.comm_name" value="{{comment.comm_name}}">
                                  {% csrf_token %}
                                  {{form2.as_p}}
                                  <input type="submit" name="form2" value="Thêm trả lời" class="btn btn-warning btn-sm">
                            </form>
                          </div>
                  </div>
      </div>
      
      {% endfor %}
    </div>
    {% if previous_lesson %}
        <a href="{% url 'curriculum:lesson_detail' standard=lessons.Standard.slug subject=lessons.subject.slug slug=previous_lesson.slug %}" class="btn btn-primary btn-lg mr-2">Bài học trước đó</a>
    {% endif %}

    <!-- Nút bài học tiếp theo -->
    {% if next_lesson %}
        <a href="{% url 'curriculum:lesson_detail' standard=lessons.Standard.slug subject=lessons.subject.slug slug=next_lesson.slug %}" class="btn btn-primary btn-lg">Bài học tiếp theo</a>
    {% endif %}
</section>
{%endblock%}